.StoriesList {
  margin: 20px 10px;;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
  flex-wrap: nowrap;
  width: 100%;
  gap: 25px;
  padding: 8px 0;
}

.StoriesList::-webkit-scrollbar {
  display: none;
}

.storyContainer {
  width: 100px;
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
  border: 2px solid orange;
  padding: 4px;
  border-radius: 100%;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.storyContainer:active {
  transform: translateY(3px); /* More dramatic movement */
  background: lightGreen !important; /* Push down effect */
  border-color: lightGreen !important;
}

.storyContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 100%;
}

.storyViewer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewContainer {
  position: relative;
  width: 325px;
  height: 545px;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clickArea {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  cursor: pointer;
  z-index: 5;

  -webkit-tap-highlight-color: rgba(250, 250, 250, 0.03);;
  tap-highlight-color: rgba(250, 250, 250, 0.03);;
  -webkit-touch-callout: none;
}

.leftClickArea {
  left: 0;
}

.rightClickArea {
  right: 0;
}


.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressBar {
  height: 4px;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.05s linear;
  border-radius: 2px;
}
